<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>   
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13644842?query=java%20Odessa">Senior Java Developer - Odessa</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13810568?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13773784?query=java%20Odessa">Разработчик Java or c# or Salesforse</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DSRproject</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13642459?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13642469?query=java%20Odessa">Senior Java/Scala Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13642474?query=java%20Odessa">Senior Java Developer / Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13607184?query=java%20Odessa">Senior .NET Developer/ Tech Lead for Luware</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13607338?query=java%20Odessa">Senior iOS Developer for Luware</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13642616?query=java%20Odessa">Senior BigData/Kafka Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13523657?query=java%20Odessa">MongoDB Support Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13639434?query=java%20Odessa">IOS Developer for UFX Markets</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13642667?query=java%20Odessa">Scala/Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">TechInsight</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13611716?query=java%20Odessa">Водитель со своим автомобилем</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Манго Такси</td> 
     <td class="salary">8&nbsp;000-15&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13542106?query=java%20Odessa">Java (J2EE) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">HYS Enterprise</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13835590?query=java%20Odessa">Senior (mid to senior) Frontend developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО VertaMedia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13753293?query=java%20Odessa">Developer Cloud Computing</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">factory42 GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://tver.hh.ru/vacancy/13679286?query=java%20Odessa">Программист</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Агентство Безопасности Гюрза</td> 
     <td class="salary">1&nbsp;000-1&nbsp;100 грн.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>